html, body {
    margin: 0;
    padding: 0;
    background: #202428;
}

body {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    color: #c6c6c6;
    font-family: Hack, monospace;
}


.terminal {
    overflow-y: scroll;
}

.hist {
    display: block;
    overflow: auto;
}

.cmd {
    display:block;
}