:root {
    --textcol: #d0d0d0ff
}

.path {
    margin-top: 3.05em;
    font-size: 17px;
}

.top-space {
    height: 45vh;
    display: block;
}

a:link,
a:visited,
a:hover,
a:active {
    display: inline;
    outline: none !important;
}

.title {
    font-size: 18px;
    font-weight: normal;
}

.landing-buttons {
    margin-left: 2vw;
    margin-top: 3vh;
}

.landing-button {
    margin-top: 1vh;
}

.disabled {
    cursor: default;
    opacity: 0.6;
    animation: none !important;
}

.button-num {
    margin: 0;
    height: 100%;
    width: 2.5ch;
    float: left;
    font-weight: bold;
    color: inherit;
}

.button-text {
    color: var(--textcol);
}

.button-arrow {
    color: var(--textcol);
    float: right;
}