:root {
    --textcol: #d0d0d0ff
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background: #101020;
    color: #d0d0d0;
    font-family: "Courier New", monospace;
}

body .page-content {
    margin-left: 2vw;
    margin-top: 2vh;
    margin-right: 2vh;
}

.header {
    margin-top: 0.75em;
    font-size: 17px;
}

.lb {
    margin: 0;
    height: 1.5em;
    width: 30vw;
    min-width: 9em;
    border: 1px solid #d0d0d0;
    border-radius: 0;
    outline: none !important;
    background: linear-gradient(to right, #d0d0d0dd 0%, #d0d0d0dd 2.5ch, #101020 2.5ch, #101020 100%);
    text-align: left;
    text-decoration: none;
    align-items: start;
    font-family:"Courier New", monospace;
    user-select: none;
}

.lb:hover {
    animation:button-shift forwards;
}

body a:link,
body a:visited,
body a:hover,
body a:active {
    display: inline;
    outline: none !important;
}

body .button {
    margin: 0;
    height: 1.5em;
    width: 5vw;
    min-width: 8.5ch;
    border: 1px solid #d0d0d0;
    border-radius: 0;
    outline: none !important;
    background: linear-gradient(to right, #d0d0d0dd 0%, #d0d0d0dd 2.5ch, #101020 2.5ch, #101020 100%);
    text-align: left;
    text-decoration: none;
    align-items: start;
    font-family:"Courier New", monospace;
    user-select: none;
}
body .button:hover {
    animation:button-shift forwards;
}

body .i-char {
    margin: 0;
    height: 100%;
    width: 2.5ch;
    float: left;
    font-weight: bold;
    color: inherit;
}

body .b-text {
    color: var(--textcol);
    margin: 0;
}

@keyframes button-shift {
    0% {
        --textcol: #d0d0d0ff;
        color: black;
        background: linear-gradient(to right, #d0d0d0dd 0%, #d0d0d0dd 2.5ch, #101020 2.5ch, #101020 100%);
    }
    100% {
        --textcol: black;
        color: #d0d0d0ff;
        background: linear-gradient(to right, #101020 0%, #101020 2.5ch, #d0d0d0dd 2.5ch, #d0d0d0dd 100%);
    }
}

.content {
    margin-top: 10vh;
    user-select: none;
}

.floater {
    display: block;
    width: 90%;
    align-self: center;
}

.floater-item {
    border: 1px #d0d0d0 solid;
    border-radius: 0;
    width: 47%;
    height: 100%;
    margin: 1%;
    background: linear-gradient(to bottom, #d0d0d0dd 0%, #d0d0d0dd 1.2em, #101020 1.2em, #101020 100%);
}

.floater-item:hover {
    cursor: default;
}

.floater-item a:hover,
.floater-item a:active,
.floater-item a:visited,
.floater-item a:link,
.floater-item a {
    text-decoration: none;
    cursor: default;
}

.floater-item-header {
    color: black;
    font-weight: bold;
    margin-left: 0.3ch;
}

.floater-item-text {
    color: #d0d0d0;
    font-size: 15px;
    display: block;
    margin-top: 0.1ch;
    margin-left: 0.3ch;
    margin-right: 0.3ch;
}