html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, black, #330022);
}

/* setup */

.fixed-bg {
  display: fixed;
}

.tag {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  font-family: hack;
}

.tag-text {
  position: absolute;
  bottom: 0;
  left: 60px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.tag::before {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: .15;
}

/* title */

.title {
  display: block;
  z-index: 1;
  font-family: 'Roboto', serif;
  height: 100px;
}
.title-tip {
  color: white;
  position: absolute;
  margin: 10px;
  left: 125px;
  top: 15px;
  opacity: 0.7;
}
.title-text {
  color: white;
  position: absolute;
  left: 125px;
  top: 30px;
  margin: 10px;
  font-size: 45px;
  opacity: 0.9;
}

.subtitle-bar {
  background: #fff;
  height: 1px;
  width: 50px;
  position: absolute;
  left: 150px;
  top: 87px;
  margin: 10px;
  opacity: 0.4
}
.subtitle-text {
  position: absolute;
  left: 179px;
  top: 88px;
  margin: 10px;
  color: white;
  font-family: hack;
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 9px;
  user-select: none;
  pointer-events: none;
}

/* Body */

.main {
  color: white;
  position: absolute;
  left: 125px;
  width: calc(100vw - 125px);
  height: calc(100vh - 100px);
  font-family: 'Roboto', serif;
  justify-content: right;
}

.main-spacer-bar {
  background: #fff;
  position: absolute;
  right: 3vw;
  top: 10px;
  height: 1.5px;
  width: 50px;
  margin: 10px;
  opacity: 0.4
}
.main-spacer-text {
  color: white;
  margin: 10px;
  position: absolute;
  right: 3.25vw;
  font-family: hack;
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 9px;
  user-select: none;
  pointer-events: none;
}

.main-text {
  color: white;
  margin: 10px;
  position: absolute;
  top: 12px;
  width: 96%;
  text-align: right;
  opacity: 0.7
}

.social {
  display: inline;
}
.main-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  height: 12em;
  width: 8em;
  justify-content: center;
  margin: 0;
  top: 15px;
}

.ico {
  margin: 1rem;
  color: white;
  justify-content: center;
}

.main-social a:link,
.main-social a:visited,
.main-social a:hover,
.main-social a:active,
.main-social a {
  text-decoration: none;
  outline: none !important;
}